*{
    box-sizing: border-box;
}
.Card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: red;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}