.hero{
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    z-index: -4;
}

.hero img{
    width: 100%;
    height: 100%;
    position:fixed;
    object-fit: cover;
    z-index: -5;
}
.hero-text p{
    font-size: 4em;
    font-family: serif;
    margin: 0 0 0 0;
    display: inline-block;
    width: 33rem;
    height: 140px;
    border: 5px solid #ffffff;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
.hero-text h1{
    margin: 0 0 0 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 2rem;
    z-index: -4;
}


@media screen and (max-width:550px){
    .hero{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -4;
    }
    .hero img{
        width: 100%;
        height: 100%;
        position:fixed;
        object-fit: cover;
        z-index: -5;
    }
    
    .hero-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 5rem;
        top: 45%;
        left:50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 2rem;
        z-index: -4;
    }
    .hero-text p{
        font-size: 3rem;
        font-family: serif;
        margin: 0 0 0 0;
        display: inline-block;
        width: 12.5rem;
        height: 50px;
        border: 5px solid #ffffff;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .hero-text h1{
        font-size: 3rem;
        padding: 10px 20px;
    }
    
}
