
.NavbarItems{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px;
    margin: 5px 0 0 2rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 35px;
}

/*correction needed*/
.tedx-logo{
    width: 2rem;
    height: 1rem;
}

.navbar-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    color: white;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
}

.nav-links:hover{
    color: red;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}